 @import url(https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap);
 * {
     margin: 0px;
     padding: 0px;
     font-family: 'Montserrat', sans-serif;
 }
 
 body {
     font-family: 'Montserrat', sans-serif;
     background: url(../img/fondo3.jpg);
     background-size: cover;
     text-align: center;
     color: #ffffff;
     text-decoration: none;
 }
 /* --------------------------------- HEADER --------------------------------- */
 
 .header {
     background: url(img/header.jpg);
     background: rgb(0, 0, 0, .5);
     text-decoration: none;
     display: flex;
 }
 
 nav {
     display: flex;
     align-items: center;
     text-decoration: none;
 }
 
 .headerLista {
     display: flex;
     text-decoration: none;
 }
 
 a {
     text-align: center;
     font-size: 18px;
     color: #ffffff;
     text-decoration: none;
 }
 
 .headerLista li {
     display: inline-block;
     padding: 10px;
     margin: 1em;
 }
 
 .carousel {
     justify-content: center;
 }
 
 .carousel slide {
     display: flex;
     height: 20%;
 }
 
 .texto {
     color: white;
     justify-content: center;
     margin: 10px;
 }
 
 #footer {
     grid-area: footer;
 }
 
 .contedido {
     display: flex;
 }
 /* ---------------------------------- CONTACTO --------------------------------- */
 
 .main {
     display: flex;
     gap: 30px;
 }
 /* --------------------------------- FOOTER --------------------------------- */
 
 .footer {
     text-align: center;
     color: #ffffff;
     text-decoration: none;
     background: rgb(0, 0, 0, .5);
 }
 /* --------------------------------- Contacto GRIT--------------------------------- */
 
 #contenedorC {
     display: grid;
     grid-template-columns: repeat(4 1fr);
     grid-template-rows: auto;
     grid-template-areas: "headerC headerC headerC headerC" ". logoCont logoCont ." ". mainC mapa ." " footerC footerC footerC footerC";
 }
 
 #headerC {
     grid-area: headerC;
     display: flex;
 }
 
 #logoCont {
     grid-area: logoCont;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 #mainC {
     grid-area: mainC;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 
 #mapa {
     grid-area: mapa;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 
 #footerC {
     grid-area: footerC;
 }
 /* responsive CONTACTO */
 
 @media (max-width: 768px) {
     #contenedorC {
         grid-template-columns: repeat(3 1fr);
         grid-template-rows: auto;
         grid-template-areas: "headerC headerC headerC" ". logoCont ." ". mainC ." ". mapa . " "footerC footerC footerC";
     }
 }
 
 @media (max-width: 480px) {
     #contenedorC {
         grid-template-columns: auto;
         grid-template-rows: auto;
         grid-template-areas: "headerC " "mapa " "mainC" "footerC";
     }
 }
 /* --------------------------------- MENU GRIT--------------------------------- */
 
 .contenedorM {
     background-image: url(../img/fondo2.PNG);
     background-size: auto;
 }
 
 #contenedorM {
     display: grid;
     grid-template-columns: repeat(4 1fr);
     grid-template-rows: auto;
     grid-template-areas: "headerC headerC headerC headerC" ". logoCont logoCont ." ". mainC mapa ." " footerC footerC footerC footerC";
 }
 
 body {
     font-family: 'Montserrat', sans-serif;
     background: url(../img/fondo3.jpg);
     background-size: cover;
     text-align: center;
     color: #ffffff;
     text-decoration: none;
 }
 
 .btn-danger {
     color: white;
     background-color: #ff6347;
     border-color: #ff6347;
 }
 
 .btn-danger:hover {
     color: #ffffff;
     background-color: #ff6347;
     border-color: #ff6347;
     transform: scale (0.6);
 }
 /* --------------------------------- HEADER --------------------------------- */
 
 .header {
     background: url(img/header.jpg);
     display: flex;
     background: rgb(0, 0, 0, .5);
     text-decoration: none;
     flex-direction: column;
 }
 
 nav {
     display: flex;
     align-items: center;
     text-decoration: none;
 }
 
 .headerLista {
     display: flex;
     text-decoration: none;
 }
 
 a {
     text-align: center;
     font-size: 18px;
     color: #ffffff;
     text-decoration: none;
 }
 
 .headerLista li {
     display: inline-block;
     padding: 10px;
     margin: 1em;
 }
 
 .headerPromos img {
     display: flex;
     width: 100%;
     margin-top: 20px;
 }
 
 .texto {
     justify-content: center;
     margin: 10px;
 }
 /* --------------------------------- INDEX GRID --------------------------------- */
 
 .contedido {
     display: flex;
 }
 
 .headerPromos {
     display: flex;
     align-items: center;
 }
 
 @media (max-width: 768px) {
     #logo {
         display: flex;
         justify-content: center;
     }
     #aside {
         display: flex;
         flex-direction: column;
     }
     #video {
         margin-left: 20px;
     }
 }
 
 @media (max-width: 480px) {
     #logo {
         justify-content: center;
     }
     #texto {
         justify-content: center;
         text-align: center;
         font-size: 30px;
     }
     #video {
         justify-content: center;
         text-align: center;
         width: 100%;
     }
     #aside {
         display: flex;
         width: 50%;
         margin-left: 30%;
     }
     #footer {
         font-size: 20px;
     }
 }
 /* ---------------------------------- CONTACTO --------------------------------- */
 
 .main {
     display: flex;
     gap: 30px;
 }
 /* --------------------------------- FOOTER --------------------------------- */
 
 .footer {
     text-align: center;
     color: #ffffff;
     text-decoration: none;
     background: rgb(0, 0, 0, .5);
 }
 /* --------------------------------- Contacto GRIT--------------------------------- */
 
 #contenedorC {
     display: grid;
     grid-template-columns: repeat(4 1fr);
     grid-template-rows: auto;
     grid-template-areas: "headerC headerC headerC headerC" ". logoCont logoCont ." ". mainC mapa ." " footerC footerC footerC footerC";
 }
 
 #headerC {
     grid-area: headerC;
     display: flex;
 }
 
 #logoCont {
     grid-area: logoCont;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 #mainC {
     grid-area: mainC;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
 }
 
 #mapa {
     grid-area: mapa;
     display: flex;
     justify-content: center;
     align-items: flex-start;
     flex-direction: column;
 }
 
 #footerC {
     grid-area: footerC;
 }
 /* responsive CONTACTO */
 
 @media (max-width: 768px) {
     #contenedorC {
         grid-template-columns: repeat(3 1fr);
         grid-template-rows: auto;
         grid-template-areas: "headerC headerC headerC" ". logoCont ." ". mainC ." ". mapa . " "footerC footerC footerC";
     }
 }
 
 @media (max-width: 480px) {
     #contenedorC {
         grid-template-columns: auto;
         grid-template-rows: auto;
         grid-template-areas: "headerC " "mapa " "mainC" "footerC";
     }
 }
 /* --------------------------------- ANIMACIONES--------------------------------- */
 
 .headerlogo:hover {
     background-color: 0.5;
     color: tomato;
     transition: all 1s;
     transform: translate(5px, -5px);
 }
 
 .headerPromos:hover {
     transform: translate(10px, -25px);
     cursor: pointer;
     transition: transform 2s;
 }
 
 .logo:hover {
     transform: scale(1.1);
     cursor: pointer;
     transition: transform 2s;
 }
 
 @keyframes navAnim {
     from {
         opacity: 0
     }
     to {
         opacity: 1;
     }
 }
 
 .headerLista li a:hover {
     animation-name: navAnim;
     animation-duration: 2s;
     animation-timing-function: ease;
 }
 
 .carta:hover {
     transform: scale(1.5);
     cursor: zoom-in;
     transition: all 1s;
     border-color: 2px #ff6347;
 }
 
 #textoM:hover {
     background-color: 0.5;
     color: tomato;
     transition: all 1s;
 }
 
 .logoPromo:hover {
     transform: scale(1.1);
     cursor: pointer;
     transition: transform 2s;
 }
 
 .promoImg:hover {
     transform: rotatey(360deg);
     cursor: pointer;
     transition: all 1s;
 }
 
 .servAnim:hover {
     background-color: 0.5;
     color: tomato;
     transition: cubic-bezier(30px);
 }
 
 .servAnim img:hover {
     transform: scale(1.2);
     cursor: pointer;
     transition: transform 2s;
 }
 
 .animate :hover {
     background-color: 0.5;
     color: tomato;
     transition: all 1s;
 }
 
 .mainContacto :hover {
     background-color: 0.5;
     color: tomato;
     transition: all 1s;
 }