body {
    font-family: 'Montserrat', sans-serif;
    background: url(../img/fondo3.jpg);
    background-size: cover;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.card1 {
    background-color: transparent;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indexCard {
    background-color: transparent;
}

.contenedorM {
    background-image: url(../img/fondo2.PNG);
    background-size: auto;
}