.footer {
    background: map-get($map: $fondos, $key: base);
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.fb {
    @include redesSociales($fb);
}

.insta {
    @include redesSociales($insta);
}

.tw {
    @include redesSociales($tw);
}

.wp {
    @include redesSociales($wp);
}